# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
app/__pycache__
app/api/__pycache__
app/models/__pycache__
app/utils/__pycache__

# Environments
.venv/
.env
.env.*

# pytest
.pytest_cache/
.coverage
htmlcov/
tests/__pycache__

# Jupyter/IPython
.ipynb_checkpoints/

# VSCode or other IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Docker
*.log
elasticsearch/data/
